<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}/bootstrap.min.css"/>
		<style type="text/css">
	 		body{
	 			background: rgba(0,0,0,.4);
	 			color:white;
	 			font-size: 18px;
	 		}
	 		th{
	 			text-align: center;
	 		}
	 	</style>
	</head>
	<body>
		<table border="" cellspacing="" cellpadding="" class="table text-center">
			<tr>
				<th>cid</th>
				<th>cname</th>
				<th>pid</th>
				<th>操作</th>
			</tr>
			{$table}
		</table>	
	</body>
</html>
