<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>内容管理系统</title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}/bootstrap.min.css"/>
		 <script type="text/javascript" src="{JS_PATH}/jquery.min.js"></script>
	 <script type="text/javascript" src="{JS_PATH}/jquery.validate.js"></script>
	 <script>
	 	$(function(){
				$("#form").validate({
				rules: {
					aname: {
						required: true,
						minlength:5,
						remote:{
							url:"index.php?m=index&f=index&a=checkname",
							type:"post",
							dataType:"json",
							data:{
								 aname:function(){
								 return $("input[name=aname]").val()
								}
							}
						}
					},
					apass: {
						required: true,
						minlength: 5,
					},
					apass1: {
						required: true,
						minlength: 5,
						equalTo:"#apass"
					},
				},
				messages: {
					aname: {
						required: "请输入用户名",
						minlength: "长度必须大于五位",
						remote:"账户名已存在"
					},
					apass: {
						required: "请输入密码",
						minlength: "长度必须大于五位"
					},
					apass1: {
						required: "请再次输入密码",
						minlength: "长度必须大于五位",
						equalTo:"密码输入不一致"
					},
					
				}
			});
		})
	 	</script>
	 	<style type="text/css">
	 		label{
	 			color: orangered;
	 		}
	 		body{
	 			background: rgba(0,0,0,.4);
	 			color:white;
	 			font-size: 18px;
	 		}
	 	</style>
	</head>
	<body>
		<form action="index.php?m=admin&f=category&a=adduser1" id="form" class=".form-inline" method="post"/>
			用户名:<input type="text" name="aname" value="" class="form-control"/></br>
			密码:<input type="text" name="apass" id="apass" value="" class="form-control"/></br>
			再次输入密码:<input type="text" name="apass1" id="" value="" class="form-control"/></br>
			<input type="submit" name="" id="" value="提交" style="color: #000000;" class="btn btn-default"/></br>
		</form>
	</body>
</html>
